.title-detail {
    margin-top: 30px;
    margin-left: 4%;
}

.form-project {
    max-width: 90%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.box-input {
    margin-bottom: 20px;
    max-width: 30%;
}

.button-form {
    display: flex;
    justify-content: flex-end;
}